/.allowed-licenses          export-ignore
/.editorconfig              export-ignore
/.gitattributes             export-ignore
/.github/                   export-ignore
/.gitignore                 export-ignore
/.readthedocs.yml           export-ignore
/bin/                       export-ignore
/build/                     export-ignore
/captainhook.json           export-ignore
/CHANGELOG.md               export-ignore
/composer.lock              export-ignore
/codecov.yml                export-ignore
/CODE_OF_CONDUCT.md         export-ignore
/CONTRIBUTING.md            export-ignore
/conventional-commits.json  export-ignore
/docs/                      export-ignore
/phpbench.json              export-ignore
/phpcs.xml.dist             export-ignore
/phpstan-tests.neon         export-ignore
/phpstan.neon.dist          export-ignore
/phpunit.xml.dist           export-ignore
/resources/                 export-ignore
/SECURITY.md                export-ignore
/tests/                     export-ignore
