* text=auto

/.gitignore         export-ignore
/.gitattributes     export-ignore
/.travis.yml        export-ignore
/.scrutinizer.yml   export-ignore
/tests              export-ignore
/phpunit.xml.dist   export-ignore
/phpcs.xml          export-ignore
/util               export-ignore
/CHANGELOG.md       export-ignore
/CODE_OF_CONDUCT.md export-ignore
/CONTRIBUTING.md    export-ignore
