/.gitattributes     export-ignore
/.github/           export-ignore
/.gitignore         export-ignore
/.readthedocs.yml   export-ignore
/codecov.yml        export-ignore
/docs/              export-ignore
/phpbench.json      export-ignore
/phpcs.xml.dist     export-ignore
/phpunit.xml.dist   export-ignore
/resources/         export-ignore
/SECURITY.md        export-ignore
/tests/             export-ignore
