source:
	- src
	
destination: build/apidocs
title: Rhumsaa\Uuid
main: Rhumsaa
deprecated: true
todo: true
sourceCode: true
report: build/apigen-checkstyle.xml
wipeout: true
quiet: false
progressbar: true
colors: true
