source:
	- src
	
destination: build/apidocs
title: Ramsey\Uuid
main: Ramsey
deprecated: true
todo: true
sourceCode: true
report: build/apigen-checkstyle.xml
wipeout: true
quiet: false
progressbar: true
colors: true
