parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src
        - ./tests
    bootstrapFiles:
        - ./tests/static-analysis/stubs.php
    excludePaths:
        analyse:
            - ./tests/ExpectedBehaviorTest.php
            - ./tests/static-analysis/stubs.php
