parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
    checkMissingIterableValueType: false
    bootstrapFiles:
        - ./tests/static-analysis/stubs.php
    ignoreErrors:
        -
            message: '#^Comparison operation ">" between 6 and 0 is always true\.$#'
            count: 1
            path: ./src/Generator/CombGenerator.php
