parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./tests
    bootstrapFiles:
        - ./tests/static-analysis/stubs.php
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        analyse:
            - ./tests/ExpectedBehaviorTest.php
            - ./tests/static-analysis/stubs.php
    ignoreErrors:
        -
            message: "#^Call to static method Ramsey\\\\Uuid\\\\.+ on a separate line has no effect\\.$#"
            paths:
                - ./tests/*Test.php
                - ./tests/benchmark/*Bench.php
        -
            message: "#^Call to method Ramsey\\\\Uuid\\\\.+ on a separate line has no effect\\.$#"
            paths:
                - ./tests/Builder/*Test.php
                - ./tests/Converter/*Test.php
                - ./tests/Generator/*Test.php
                - ./tests/Guid/*Test.php
                - ./tests/Nonstandard/*Test.php
                - ./tests/Rfc4122/*Test.php
        -
            message: "#^Method Ramsey\\\\Uuid\\\\.+ should return non-empty-string but returns string\\.$#"
            paths:
                - ./tests/static-analysis/ValidUuidIsNonEmpty.php
