parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
    checkMissingIterableValueType: false
    bootstrapFiles:
        - ./tests/static-analysis/stubs.php
    ignoreErrors:
        -
            message: '#^Comparison operation ">" between 6 and 0 is always true\.$#'
            count: 1
            path: ./src/Generator/CombGenerator.php
        -
            # Legacy methods of `Ramsey\Uuid` use interface methods that are NOT defined on `FieldsInterface`
            message: '#^Call to an undefined method Ramsey\\Uuid\\Fields\\FieldsInterface::get.*$#'
            count: 9
            path: ./src/Lazy/LazyUuidFromString.php
        -
            message: '#^Constructor of class Ramsey\\Uuid\\FeatureSet has an unused parameter \$forceNoBigNumber\.#'
            count: 1
            path: ./src/FeatureSet.php

        - '#^Method Ramsey\\Uuid\\Generator\\Pecl[A-Za-z]+Generator::generate\(\) should return string but returns string\|false\.$#'
