parameters:
    autoload_files:
        - tests/phpstan-bootstrap.php
    ignoreErrors:
        # https://github.com/phpstan/phpstan/issues/2471
        - '#Moontoast\\Math\\BigNumber::convertFromBase10\(\) expects int\|string, Moontoast\\Math\\BigNumber given\.#'
