<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         cacheResultFile="./build/cache/phpunit.result.cache"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="unit-tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <php>
        <!-- E_ALL & ~E_DEPRECATED -->
        <ini name="error_reporting" value="24575"/>
    </php>

</phpunit>
