parameters:
    tmpDir: ../build/cache/phpstan
    level: max
    paths:
        - .
    autoload_files:
        - ./phpstan-bootstrap.php
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - ./ExpectedBehaviorTest.php
        - ./phpstan-bootstrap.php
    ignoreErrors:
        -
            message: "#^Function uuid_create\\(\\) has no return typehint specified\\.$#"
            count: 1
            path: phpstan-bootstrap.php
        -
            message: "#^Function uuid_create\\(\\) has parameter \\$uuid_type with no typehint specified\\.$#"
            count: 1
            path: phpstan-bootstrap.php
        -
            message: "#^Function uuid_parse\\(\\) has no return typehint specified\\.$#"
            count: 1
            path: phpstan-bootstrap.php
        -
            message: "#^Function uuid_parse\\(\\) has parameter \\$uuid with no typehint specified\\.$#"
            count: 1
            path: phpstan-bootstrap.php
